PORT=4000
MONGODB_URI=mongodb+srv://urielzj:Vbyk5dHMbmV26Mg1@clientcndb.qa9tq.mongodb.net/?retryWrites=true&w=majority&appName=ClientCNDB
TOKEN_SECRET=yoursecret
FRONTEND_URL=https://cerrajeria-frontend.vercel.app
